</div> 
</header>

<div name="start" class="start">
<!--
About
-->
<div class="container">
<h2>Joshua's Blog:</h2>
</div>

<!--
Projects
-->
{{#each posts}}
<div class="container inline-list">
  <center><h2>{{title}}</h2></center>
  {{body}}
</div>
{{/each}}
