<div name="start" class="start">
<!--
About
-->
<!--
Projects
-->
<div class="container inline-list" style="background: #d9d9d9; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;">
  <h2>Edit this Post:</h2>
<br>
<form action="/blog/admin/edit" method="post">
  <input type="text" name="title" value="{{title}}"><br><br>
  <textarea name="body">{{body}}</textarea><br><br>
  <input type="submit">
</form>
<br>
</div>
