<section class="push-down center">
    <a href="#"><img src="/josh.jpg"></a>
    <h1>Joshua Powell</h1>
    <h2><a href="http://joshualpowell.com/">Blog Administration</a></h2>

    <a href="#start" id="arrow-down"><i class="fa fa-chevron-down fa-2x"></i></a>
</section>
</div> 
</header>

<div name="start" class="start">
<!--
About
-->
<div class="container">
<h2>Write a Post:</h2>
</div>

<!--
Projects
-->
<div class="container inline-list">
<form action="/blog/admin/edit" method="post">
  <input type="text" name="title" value="{{title}}"><br><br>
  <textarea name="body">{{body}}</textarea>
  <input type="submit">
</form>
<br>
<a href="/blog/admin/edit"><button type="button" name="button">Edit Posts</button></a>
</div>
