<section class="push-down center">
    <a href="#"><img src="josh.jpg"></a>
    <h1>Joshua Powell</h1>
    <h2><a href="http://joshualpowell.com/">My Blog</a></h2>
    <h2><a href="#">Contact</a></h2>

    <a href="#start" id="arrow-down"><i class="fa fa-chevron-down fa-2x"></i></a>
</section>
</div>Â
</header>

<div name="start" class="start">
    <!--
    About
-->
    <div class="container">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, esse, dolores inventore ullam quas magni veritatis a reprehenderit doloribus rerum doloremque eligendi et hic. Accusamus debitis molestiae natus totam numquam.</p>
    </div>


    <!--
    Projects
-->
    <div class="container inline-list2">
        <h2>My projects</h2>
        <li>
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
        <li>
            <h3>Project 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
        <li>
            <h3>Project 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
        <li>
            <h3>Project 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
        <li>
            <h3>Project 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
        <li>
            <h3>Project 6</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae perspiciatis, nulla repellat praesentium reiciendis perferendis.</p>
        </li>
    </div>


    <!--
    Wishlist
-->
    <div class="container inline-list3">
        <h2>Things I want</h2>
        <!--Add whatever you can so he can post stuff below-->
        <li>
            <a href="" class="img-box"><img src="camera.jpg" alt=""></a>
            <h3>Item 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum expedita veritatis, optio tempora praesentium harum aspernatur eum nesciunt. Aspernatur adipisci asperiores veritatis.</p>
            <h4>Â£400</h4>
        </li>

        <!--Add whatever you can so he can post stuff below-->
        <li>
            <a href="" class="img-box"><img src="camera.jpg" alt=""></a>
            <h3>Item 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quis ipsa laboriosam ea similique nemo maxime enim eius inventore consectetur accusantium autem rem vitae, tempora dicta eligendi, sunt quod aut.</p>
            <h4>Â£400</h4>
        </li>

        <!--Add whatever you can so he can post stuff below-->
        <li>
            <a href="" class="img-box"><img src="camera.jpg" alt=""></a>
            <h3>Item 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolores quibusdam voluptatem animi exercitationem ab commodi soluta ad harum. Omnis qui consectetur enim, pariatur unde ipsam sequi debitis natus vero?</p>
            <h4>Â£400</h4>
        </li>
    </div>
</div>
